<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="controlpanel.css">
    <link rel="stylesheet" href="commonview.css">
    <meta charset="UTF-8">
    <title>Control panel</title>
</head>
<body>
<header class="mainheader">
    <a href="/"><img class="mainlogo" src="images/newlogo.png"></a>
    <menu>
        <ul class="menu">
            <li class="createmenu"><a href="createpage.html">Create petition</a></li>
            <li class="searchmenu"><a href="searchpage.html">Search petition</a></li>
            <li class="registermenu"><a href="registerpage.html">Login or Register</a></li>
            <li class="contactmenu"><a href="contactpage.html">Contact us</a></li>
        </ul>
    </menu>
</header>

<div class="accountdetailstext">Account details</div>
<div class="accountdetails">
    <div>Account id: %userid%</div>
    <div>Full name: %fullname%</div>
    <div>Account type: %accounttype%</div>
    <b></b>
    <div class="accountdetailsspacer"></div>
    <div class="yourpetitionstext">Your petitions</div>

    <div class="standbytext"></div>

    <div class="emptyspacer"></div>

    <div class="footer">
        <p>By using our website your agree to our <a href="">Terms and Conditions</a>, please take some time to read that information.</p>
    </div>

</body>
</html>