<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="contactpage.css">
    <link rel="stylesheet" href="commonview.css">
    <meta charset="UTF-8">
    <title>Contact page</title>
</head>
<body>
<header class="mainheader">
    <a href="/"><img class="mainlogo" src="images/newlogo.png"></a>
    <menu>
        <ul class="menu">
            <li class="createmenu"><a href="createpage.html">Create petition</a></li>
            <li class="searchmenu"><a href="searchpage.html">Search petition</a></li>
            <li class="registermenu"><a href="registerpage.html">Login or Register</a></li>
            <li class="contactmenu"><a href="contactpage.html">Contact us</a></li>
        </ul>
    </menu>
    <a class='controlpanel' href="controlpanel.html"></a>
</header>
<img class="contactlogo" src="images/contactlogo.png">

<div>
    <p>Contact us at Email: contact@change.it</p>
    <p>Or you can always call us at 850-238-6162</p>
    <p>We're available Monday-Friday from 9:00AM to 18:00PM</p>
    <p>Our goal is to help everyone and because of that, anyone can join!</p>
    <p>If you want to get closer to us and take part of this program, contact us fast!</p>
    <p>George Huzum <br> President and CEO of Change The World program</p>
    <p>Email: contact@change.it <br>
        Phone: 850-238-6162</p>
</div>

<div class="footer">
    <p>By using our website your agree to our <a href="">Terms and Conditions</a>, please take some time to read that information.</p>
</div>
</body>
</html>